{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
    <div class="content-area d-flex justify-content-between p-4">
        <div class="left-content">
            <ul class="func">
                <li>
                    <a href="" class="user">
                        <img src="https://images.unsplash.com/photo-1698668768739-7dfa1a00a8f0?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="avatar">
                        <span>{{ user.username }}</span>
                    </a>
                </li>
                <li>
                    <a href="" class="func-item">
                        <i class="fa-solid fa-user-group"></i>
                        <span>Bạn bè</span>
                    </a>
                </li>              
                <li>
                    <a href="" class="func-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-people-group"></i>
                        <span>Tạo Nhóm của bạn</span>
                    </a>
                </li>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Tạo Nhóm</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="{% url 'social:create_group' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div href="" class="user">
                                    <a href="" class="d-flex align-items-center justify-content-center">
                                        <img src="https://images.unsplash.com/photo-1698668768739-7dfa1a00a8f0?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="avatar">
                                    </a>
                                    <div class="author">
                                        <div>{{ user.username }}</div>                                       
                                    </div>
                                </div>
                                <div class="post-body mt-4">
                                    <div class="custom-scrollbar w-100">
                                        <h3 class="post-title m-auto"><input type="text" name="name" placeholder="Nhập tên nhóm"></h3>
                                        <textarea id="textarea-post" cols="30" rows="10" name="description" placeholder="Nhập mô tả"></textarea>
                                    </div>
                                </div>
                            </div>                               
                            <div class="modal-footer justify-content-lg-center">
                                <button type="file" class="btn-add-file">
                                    <i class="fa-solid fa-images">
                                        <span>Ảnh</span>
                                        <input class="btn-add-file" type="file" name="image" accept="image/*" id="id_image">
                                    </i>
                                </button>                           
                                <button type="submit" class="btn btn-primary btn-upload">Tạo nhóm</button>
                            </div>
                        </form>
                      </div>
                    </div>
                </div>
            </ul>
            <hr>
            <div class="shortcuts">
                <div class="title">Lối tắt của bạn</div>
                <ul>
                    {% for user in user_groups %}        
                    <li>
                        <a href="{% url 'social:group_posts' user.group.id %}" class="shortcut-item">
                            <img src="{{ user.group.image.url  }}" class="card-img" alt="avatar">
                            <span>{{ user.group.name }}</span>
                        </a>
                    </li>                
                    {% endfor %}
                
                </ul>
            </div>
            <hr>
            <div class="shortcuts">
                <div class="title">Nhóm gợi ý</div>
                <ul>
                    {% for group in groups_not_joined %}        
                    <li>
                        <a href="{% url 'social:group_posts' group.id %}" class="shortcut-item">
                            <img src="{{ group.image.url  }}" class="card-img" alt="avatar">
                            <span>{{ group.name }}</span>
                        </a>
                    </li>                
                    {% endfor %}
                
                </ul>            
            </div>
        </div>
        <div class="main-content">
            <div class="card upload-post mt-0">
                <div class="card-top d-flex align-items-center justify-content-between">
                    <img src="https://images.unsplash.com/photo-1698668768739-7dfa1a00a8f0?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="avatar">
                    <a href="{% url 'upload_post' %}" class="text" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" id="modalUploadPost">
                        <input type="text" placeholder="Bạn đang nghĩ gì?">
                    </a>
                    {% block modal-upload-post %}
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div>Không thể đăng bài ở đây</div>
                                    <!-- <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Tạo bài viết {{user.username}}</h1> -->
                                    <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    {% endblock %}
                </div>
                <hr class="my-0 mx-3">
                <div class="card-body">
                    <div class="action d-flex align-items-center justify-content-between">
                        <a class="livestream">
                            <i class="fa-solid fa-video text-danger"></i>
                            <span>Video trực tiếp</span>
                        </a>
                        <a class="upload">
                            <i class="fa-solid fa-images text-success"></i>
                            <span>Ảnh / video</span>
                        </a>
                        <a class="react">
                            <i class="fa-solid fa-face-smile text-warning"></i>
                            <span>Cảm xúc / hoạt động</span>
                        </a>
                    </div>
                </div>
            </div>
           
            {% for post in group_post %}
                <div class="card post-detail">
                    <div class="card-top d-flex align-items-center">
                        
                        <img src="https://images.unsplash.com/photo-1698668768739-7dfa1a00a8f0?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="avatar">
                        <div class="author ms-2">
                            <a href="#" class="name">{{ post.author }}</a>
                            <div class="upload-time">{{ post.created_at|timesince }} ago</div>
                        </div>
                        <div class="group ms-2 mb-2 text-decoration-underline fs-6 fw-bold">                            
                            <a href="#" class="name">{{ post.group }}</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="post-body mb-3">
                            {{ post.title }} <br><br>
                            <span id="content">{{ post.content }}</span>
                        </div>
    
                        <script>
                            var spanElement = document.getElementById("content");
    
                            var urlRegex = /(http:\/\/|https:\/\/|ftp:\/\/)/;
    
                            if (urlRegex.test(spanElement.textContent)) {
                                var linkElement = document.createElement("a");
                                linkElement.href = spanElement.textContent;
                                linkElement.textContent = spanElement.textContent; 
                                linkElement.style.textDecoration = "underline"; 
    
                                spanElement.parentNode.replaceChild(linkElement, spanElement);
                            } else {
                                var paragraphElement = document.createElement("p");
                                paragraphElement.textContent = spanElement.textContent;
    
                                spanElement.parentNode.replaceChild(paragraphElement, spanElement);
                            }
                        </script>
    
                        {% if post.video %}
                            <div class="file-upload">
                                <video style="width: 100%;" controls>
                                    <source src="{{ post.video.url }}" type="video/mp4">
                                </video>
                            </div>
                        {% endif %}
                        {% if post.image %}
                            <div class="file-upload">                            
                                <img style="width: 100%;" src="{{ post.image.url }}" alt="">
                            </div>
                        {% endif %}
                        
                    </div>
                    <div class="count d-flex justify-content-between align-items-center">
                        <form>
                            {% csrf_token %}
                            <div class="react">
                                {% if user in post.likes.all %}
                                    <i class="fa-solid fa-thumbs-up like-button" id="like-icon-{{ post.id }}" style="color: #0866ff;" data-post-id="{{ post.id }}"></i>
                                {% else %}
                                    <i class="fa-solid fa-thumbs-up like-button" id="like-icon-{{ post.id }}" data-post-id="{{ post.id }}"></i>
                                {% endif %}
    
                                <span class="like-count" id="like-count-{{ post.id }}">{{ post.total_likes }}</span>
                            </div>
                        </form>
    
                        
                        <div class="d-flex align-items-center">
                            <div class="comment">
                                <span>{{ post.total_comment }}</span>
                                <i class="fa-solid fa-message"></i>
                            </div>
                            <div class="share ms-3">
                                <span>8</span>
                                <i class="fa-solid fa-share"></i>
                            </div>
                        </div>
                    </div>
                    <div class="action d-flex justify-content-between align-items-center border-top">
                        <!-- like -->
                        <a href="#" class="action-item react like-button" {% if user in post.likes.all %} style="color: #0866ff;"{% endif %} data-post-id="{{ post.id }}">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <span>Thích</span>
                        </a>                    
                        
                         <!-- comment button-->
                        <a href="#commentpost{{post.id}}"  class="action-item comment" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa-solid fa-message"></i>
                            <span>Bình luận</span>
                        </a>
                        
                        <!-- share -->
                        <a href="#" class="action-item share">
                            <i class="fa-solid fa-share"></i>
                            <span>Share</span>
                        </a>
                    </div>
                    <!-- comment form -->
                    <div class="collapse comment-form" id="commentpost{{post.id}}">
                        <div class="form-group">
                            <form method="post" action="{% url 'add_comment' post.id %}" class="post-comment" data-post-id="{{ post.id }}"> 
                                {% csrf_token %}
                                <div class="d-flex justify-content-between px-2">
                                    <img src="https://images.unsplash.com/photo-1698668768739-7dfa1a00a8f0?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="avatar">
                                    <input name="content" class="content rounded-pill"  placeholder="Nhập bình luận" required id="id_body">
                                    <button class="btn btn-send d-flex align-items-center justify-content-center"><i class="fa-solid fa-paper-plane fa-beat"></i></button>
                                </div>
                            </form>        
                          </div>
                      </div>
    
                    <!-- View All comment -->
                    <div class="comment-root">
                        {% for comment in post.comments.all %}
                        <div class="comment-content border">
                            <div class="d-flex align-items-start">
                                <img src="https://images.unsplash.com/photo-1698668768739-7dfa1a00a8f0?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="avatar">
                                <div class="author">
                                    <a href="#" class="name">{{ comment.user.username }}</a>
                                    <!-- comment view -->
                                    <p class="">
                                        {{ comment.content }}
                                        {% if user == comment.user %}
                                            <a href="{% url 'delete_comment' comment.id %}" data-comment-id="{{ comment.id }}" class="delete-comment-button text-danger">(delete) </a>-
                                            <a href="#comment{{comment.id}}"  class="action-item text-info" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">(edit)</a> <br> 
                                        {% endif %}
                                            <a href="#reply{{comment.id}}" class="action-item text-info" data-bs-toggle="collapse" role="button" aria-expanded="false">(reply)</a>
    
                                        <!-- edit comment form -->
                                        <div class="collapse" id="comment{{comment.id}}">
                                            <hr>   
                                            <div class="form-group">
                                                <form method="post" action="{% url 'edit_comment' comment.id %}">
                                                    {% csrf_token %}
                                                    <div style="display: flex; text-align: center;" class="ms-2 mb-3" >
                                                        <img src="https://images.unsplash.com/photo-1698668768739-7dfa1a00a8f0?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D" class="card-img-top me-1" alt="avatar">
                                                        <input name="content" class="ms-2 w-100 rounded-pill" value="{{comment.content}}" required id="id_body">
                                                        <input type="hidden" name="parent_id" value="None">
                                                        <button class="btn "><i class="fa-solid fa-paper-plane fa-beat"></i></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </p>
                                </div>    
                            </div>
                            <!-- reply comment form -->
                            <div class="collapse" id="reply{{comment.id}}">
                                <hr>   
                                <div class="form-group">
                                    <form method="post" action="{% url 'add_reply' comment.id %}" class="post-reply-comment"> 
                                        {% csrf_token %}
                                        <div class="d-flex justify-content-between px-2">
                                            <img src="https://images.unsplash.com/photo-1698668768739-7dfa1a00a8f0?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D" class="card-img-top me-1" alt="avatar">
                                            <input name="content" class="content rounded-pill"  placeholder="Nhập bình luận" required id="id_body">
                                            <button class="btn "><i class="fa-solid fa-paper-plane fa-beat"></i></button>
                                        </div>
                                    </form>        
                                </div>
                            </div>
                        </div>
    
                            <!-- view all reply comment -->
                            {% for reply in comment.replies.all %}
                            <div class="ms-5 comment-content border">
                                <div class="d-flex align-items-center">
                                    <img src="https://images.unsplash.com/photo-1698668768739-7dfa1a00a8f0?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="avatar">
                                    <div class="author">
                                        <a href="#" class="name">{{ reply.user.username }}</a>
                                        <!-- comment view -->
                                        <p class="">
                                            {{ reply.content }}
                                            {% if user == reply.user %}
                                            <a href="{% url 'delete_reply' reply.id %}" class="text-danger">(delete) </a>-
                                            <a href="#comment{{reply.id}}"  class="action-item text-info" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">(edit)</a> <br> 
    
                                            <!-- edit comment form -->
                                            <div class="collapse" id="comment{{reply.id}}">
                                                <hr>   
                                                <div class="form-group">
                                                    <form method="post" action="{% url 'edit_reply' reply.id %}"> 
                                                        {% csrf_token %}
                                                        <div style="display: flex; text-align: center;" class="ms-2 mb-3" >
                                                            <img src="https://images.unsplash.com/photo-1698668768739-7dfa1a00a8f0?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D" class="card-img-top me-1" alt="avatar">
                                                            <input name="content" class="w-100 rounded-pill"  value="{{reply.content}}" required id="id_body">
                                                            <input type="hidden" name="parent_id" value="None">                          
                                                            <button class="btn "><i class="fa-solid fa-paper-plane fa-beat"></i></button>
                                                        </div>
                                                    </form>        
                                                </div>
                                            </div>
                                            {% endif %}
                                        </p>
                                    </div>    
                                </div>                 
                                
                                
                            </div>
                            {% endfor %}
                            
                            <div class="comment-content border comment-add mt-1 mb-1"></div>
    
                        {% endfor %}
                    </div>
    
                </div>
            {% endfor %}
        </div>
        <div class="right-content">
            <div class="invite-friend">
                <div class="title">Lời mời kết bạn</div>
                <div class="item rounded">
                    <div class="represent mb-2">
                        <img src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?_nc_cat=1&ccb=1-7&_nc_sid=2b6aad&_nc_ohc=VTT51jsf8n4AX8b7IUm&_nc_ht=scontent.fsgn5-15.fna&oh=00_AfDair0x-_SGJPKMWp9M3TmeRBK_c0fNf4D4q7rMl2aZTA&oe=6561D2B8" class="card-img" alt="avatar">
                        <div class="detail">
                            <div class="d-flex justify-content-between">
                                <div class="name">Đức Thắng</div>
                                <div class="time">2 ngày</div>
                            </div>
                            <div class="mutual d-flex align-items-center mt-2">
                                <img src="https://images.unsplash.com/photo-1698668768739-7dfa1a00a8f0?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D" class="card-img" alt="avatar">
                                <span class="ms-2">1 bạn chung</span>
                            </div>
                        </div>
                    </div>
                    <div class="action">
                        <button class="accept">Xác nhận</button>
                        <button class="reject">Xóa</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="contact">
                <div class="title">Người liên hệ</div>
                <ul class="list-user">
                    <li>
                        <a href="" class="user-item">
                            <img src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?_nc_cat=1&ccb=1-7&_nc_sid=2b6aad&_nc_ohc=VTT51jsf8n4AX8b7IUm&_nc_ht=scontent.fsgn5-15.fna&oh=00_AfDair0x-_SGJPKMWp9M3TmeRBK_c0fNf4D4q7rMl2aZTA&oe=6561D2B8" class="card-img" alt="avatar">
                            <span>Đức Thắng</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="user-item">
                            <img src="https://images.unsplash.com/photo-1698668768739-7dfa1a00a8f0?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D" class="card-img" alt="avatar">
                            <span>{{ user.username }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="user-item">
                            <img src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?_nc_cat=1&ccb=1-7&_nc_sid=2b6aad&_nc_ohc=VTT51jsf8n4AX8b7IUm&_nc_ht=scontent.fsgn5-15.fna&oh=00_AfDair0x-_SGJPKMWp9M3TmeRBK_c0fNf4D4q7rMl2aZTA&oe=6561D2B8" class="card-img" alt="avatar">
                            <span>Gia Duy</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}