{% extends "base_generic.html" %}

{% load filter_option %}

{% block content %}
<div class="profile-area p-4">
  {% if is_blocked %}
    <h1 class="text-center">Trang cá nhân này không tồn tại hoặc bạn đã không có quyền xem trang cá nhân này</h1>
  {% elif user_block  %}
    <h1 class="text-center">Bạn đã chặn người dùng này</h1>
  {% else %}
    <div class="container">   
      <div class="profile-detail">
        {% if object.cover_photo %}
              <img class="w-100" style="border-radius: 20px; height: 450px;"  src="{{ object.cover_photo.url }}" alt="">
              {% else %}
              <img class="w-100" style="border-radius: 20px; height: 450px;" src="https://images.unsplash.com/photo-1699306113718-72fe0f9dfb2c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMjh8fHxlbnwwfHx8fHw%3D" alt="">
          {% endif %}
        
        <div class="position-relative d-flex justify-content-between align-items-center">
          <div class="info d-flex justify-content-center align-items-center ps-5" style="margin-left: 12rem;">
          
            <div class="avatar">
              {% if object.profile_pic %}
              <img src="{{ object.profile_pic.url }}" alt="">
              {% else %}
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDJaEoQJ0PLbNOn_xHRIw7mcyuIOj0_hVZlA&usqp=CAU" style="width: 90px; height:90px" alt="">
              {% endif %}
            </div>
            <div class="user">
              <div class="name fs-3">{{ object.user.username }}</div>
              <div class="friend fs-5 mt-2">{{ num_friends }} bạn bè</div>
            </div>
          </div>
           
          <div class="author-action d-flex">
              <div class="update-profile">
                {% if user.is_authenticated and user.id == object.user.id %}
                <button class="button p-2" data-bs-toggle="modal" data-bs-target="#profileModal"  >
                    Chỉnh Sửa Trang Cá Nhân
                </button>
                  {% endif %}
                <!-- model -->
                <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5 text-center" id="profileModalLabel">Chỉnh sửa trang cá nhân</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form action="{% url 'profiles:profile_update' object.user.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-body custom-scrollbar w-100">
                            {{ form.as_p }}
                        </div>                                        
                        <div class="modal-footer justify-content-lg-center">                                          
                              <button type="submit" value="Save" class="btn btn-primary btn-upload">Lưu</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div> 

              {% if not user_block  %}
              <div class="multi-user me-5">                            
                {% if request.user.id != object.user.id %}
                <form action="{% url 'inbox_detail' object.user.id %}" method="post" style="margin-bottom: 1rem;">
                  {% csrf_token %}
                  <button type="submit" class="btn-primary"><i class="fa-solid fa-comment-dots"></i> Nhắn tin</button>
                </form>
                  {% if status == 'friends' %}              
                    {% if friendship.user1.id == request.user.id %}
                    <form action="{% url 'social:cancel_friend_request' pk=fs.first.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit">Hủy kết bạn</button>
                    </form>
                    {% endif %}
                  {% elif status == 'none' %}
                    <form action="{% url 'social:send_friend_request' user_id=object.user.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit">Thêm bạn bè</button>
                    </form>
                  {% elif status == 'pending' %}
                    {% if object.user == friendship.user2 %}
                      <form action="{% url 'social:reject_friend_request' fs.first.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Hủy yêu cầu</button>
                      </form>
                    {% else %}
                      {% if invite_friends %}
                        {% for invite in invite_friends %}
                          {% if invite.user1.id == object.user.id %}
                            <button class="btn btn-primary " type="button" id="dropdownInvteButton" data-bs-toggle="dropdown" aria-expanded="false">
                              Phản hồi
                            </button>
                          {% endif %}
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownInvteButton">
                            <li class="w-100 text-center">
                              <form action="{% url 'social:accept_friend_request' pk=invite.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="accept btn-primary">Xác nhận</button>
                              </form>
                            </li>
                            <li class="w-100 text-center p-2" >
                              <form action="{% url 'social:reject_friend_request' pk=invite.id %}" method="post">
                                  {% csrf_token %}
                                  <button type="submit" class="reject" >Từ chối</button>
                              </form>
                            </li>
                          </ul>
                        {% endfor %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                  
                {% endif %}
                <div class="mt-3">
                  {% if not can_follow and request.user.id != object.user.id %}
                  <form action="{% url 'social:follow_user' user_id=object.user.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Theo dõi</button>
                  </form>
                  {% elif request.user.id != object.user.id %}             
                    <button type="submit" class="btn-primary">Đã theo dõi <i class="fa-solid fa-check" ></i></button>
                  {% endif %}
                </div>
              </div>
              <div class="dropdown ms-auto">
                    <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </button>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                    {% if user.is_authenticated and user.id != object.user.id %}                      
                      <li>                             
                            <a href="{% url 'social:block_user' user_id=object.user.id %}" class="dropdown-item logout">
                                <span><i class="fa-solid fa-user-lock"></i> Chặn người dùng </span>
                            </a>                                 
                        </li>
                    {% endif %}
                      <li>
                        {% if user.id == object.user.id %}
                          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#blockModal">
                            <i class="fa-solid fa-users"></i>  Người dùng đã chặn
                          </button>
                          {% endif %}
                          
                      </li>
                      {% if can_follow and request.user.id != object.user.id %}
                        <li>
                            <form action="{% url 'social:unfollow_user' user_id=object.user.id %}" method="post">
                              {% csrf_token %}
                              <button type="submit"><i class="fa-solid fa-xmark" ></i> Bỏ theo dõi </button>
                            </form>
                        </li>
                      {% endif %}                             
                  </ul>
              </div>
              {% endif %}
            </div>

        </div>
        <!-- model block_user-->
        <div class="modal fade" id="blockModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Danh sách người dùng bị chặn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <ul>
                  {% for block in user_block_list %}
                  <li class="d-flex">
                    <a href="{% url 'profiles:profile' block.blocked_user.id   %}" class="user-item">
                      {% for profile in profiles %}   
                          {% if block.blocked_user.id == profile.user.id %}             
                            <img src="{% if profile.profile_pic %}
                                {{ profile.profile_pic.url  }}
                            {% else %} 
                                https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?stp=cp0_dst-png_p60x60&_nc_cat=1&ccb=1-7&_nc_sid=2b6aad&_nc_eui2=AeE1vTPkHb-3caw-Qa8LcUBUso2H55p0AlGyjYfnmnQCUZJq8s60z2bWHjSCVInwd04OWKdpTROsfDIQw33wpZKQ&_nc_ohc=x-5IH6VdBkQAX973AOb&_nc_ht=scontent.fsgn2-3.fna&oh=00_AfDK83mRdv0PL08D0btIF9cOTS3s8hnIALTSupH9AKV5XQ&oe=657722F8
                            {% endif %} "
                            class="card-img" style="width: 40px; height: 40px;" alt="avatar">
                          {% endif %}
                      {% endfor %}
                      <span>{{ block.blocked_user.username }}</span>
                    </a>
                    <form class="ms-auto" action="{% url 'social:unblock_user' user_id=block.blocked_user.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn-primary">Bỏ chặn người dùng</button>
                    </form>  
               
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>                
              </div>
            </div>
          </div>
        </div>
        <hr>
        <ul class="accordion action d-flex justify-content-center align-items-center" id="profilePage">
          <li class="accordion-item action-item">
            <button class="active" type="button" data-bs-toggle="collapse" data-bs-target="#postsPage" aria-expanded="true" aria-controls="postsPage">
              Bài viết
            </button>
          </li>
          <li class="accordion-item action-item">
            <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#introducePage"aria-expanded="false" aria-controls="introducePage">
              Giới thiệu
            </button>
          </li>
          <li class="accordion-item action-item">
            <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#friendPage" aria-expanded="false" aria-controls="friendPage">
              Bạn bè
            </button>
          </li>
        </ul>
      </div>
      <div class="profile-body mt-4">
        <div class="accordion-collapse collapse show profile-page" id="postsPage" data-bs-parent="#profilePage">
          <div class="posts d-flex justify-content-between">
            <div class="left-profile">
              <div class="introduce">
                <div class="title">Giới thiệu</div>
                <ul class="detail">
                  <li>Tiểu sử</li>
                  <li>Sở thích</li>
                  <li>Nơi ở</li>
                  {% if object.user.followers %}
                  <li>Có {{ object.user.following.count }} người theo dõi</li>
                  {% endif %}
                </ul>
              </div>
              <div class="friend">
                <div class="title d-flex justify-content-between align-items-center">
                  <span>Bạn bè</span>
                  <span class="fs-6"> {{ num_friends }} người bạn</span>                  
                </div>
                <ul class="detail d-flex justify-content-start align-items-center flex-wrap gap-3">
                  {% for friend in friends %}
                    <li>
                        <a href="{% url 'profiles:profile' friend.id   %}" class="user-item">
                            {% for profile in profiles %}   
                                {% if friend.id == profile.user.id %}             
                                  <img src="{% if profile.profile_pic %}
                                      {{ profile.profile_pic.url  }}
                                  {% else %} 
                                      https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?stp=cp0_dst-png_p60x60&_nc_cat=1&ccb=1-7&_nc_sid=2b6aad&_nc_eui2=AeE1vTPkHb-3caw-Qa8LcUBUso2H55p0AlGyjYfnmnQCUZJq8s60z2bWHjSCVInwd04OWKdpTROsfDIQw33wpZKQ&_nc_ohc=x-5IH6VdBkQAX973AOb&_nc_ht=scontent.fsgn2-3.fna&oh=00_AfDK83mRdv0PL08D0btIF9cOTS3s8hnIALTSupH9AKV5XQ&oe=657722F8
                                  {% endif %} "
                                  class="card-img" alt="avatar">
                                {% endif %}
                            {% endfor %}
                        </a>
                        <div class="name text-center">{{ friend.username }}</div>
                    </li>                                  
                  {% endfor %}
                </ul>
              </div>
            </div>

            <div class="right-profile">
              {% if request.user == object.user %}
              <div class="card upload-post mt-0">
                <div class="card-top d-flex align-items-center justify-content-between">
                  {% if object.profile_pic %}
                  <img src="{{ object.profile_pic.url }}" style="width: 50px; height: 50px;"  class="rounded-pill" alt="">
                  {% else %}
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDJaEoQJ0PLbNOn_xHRIw7mcyuIOj0_hVZlA&usqp=CAU" style="width: 90px; height:90px" alt="">
                  {% endif %}

                  <a href="" class="text" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" id="modalUploadPost">
                    <input type="text" placeholder="Bạn đang nghĩ gì?">
                  </a>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <div></div>
                          <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Tạo bài viết {{user.username}}
                          </h1>
                          <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="{% url 'profiles:upload_post' %}" method="post">
                          {% csrf_token %}
                          <div class="modal-body">
                            <div href="" class="user">
                              <a href="" class="d-flex align-items-center justify-content-center">
                                {% if object.profile_pic %}
                                <img src="{{ object.profile_pic.url }}" style="width: 50px; height: 50px;"  class="rounded-pill" alt="">
                                {% else %}
                                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDJaEoQJ0PLbNOn_xHRIw7mcyuIOj0_hVZlA&usqp=CAU" style="width: 50px; height:50px" style="width: 40px; height:40px" alt="">

                                {% endif %}
                              </a>
                              <div class="author">
                                <div>{{ object.user.username }}</div>
                                <div class="dropdown status">
                                  <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdown-upload-post">
                                    Trạng thái
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li><a class="dropdown-item">Công khai</a></li>
                                    <li><a class="dropdown-item">Chỉ mình tôi</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="post-body mt-4">
                              <div class="custom-scrollbar w-100">
                                <h3 class="post-title m-auto"><input type="text" name="title" placeholder="Nhập title"></h3>
                                <textarea id="textarea-post" cols="30" rows="10" name="content" placeholder="{{ object.user.username }} ơi, bạn đang nghĩ gì?"></textarea>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer justify-content-between">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-images"></i>
                                    <span>Đính kèm</span>
                                </button>
                                <ul class="dropdown-menu">                                         
                                    <a type="file" class="btn-add-file">
                                      <i class="fa-solid fa-images">
                                          <span>Ảnh</span>
                                        <input class="btn-add-file" value="Đính kèm" type="file" name="image" accept="image/*" id="id_image">
                                        </i>
                                    </a>
                                    <a type="file" class="btn-add-file">
                                        <i class="fa-solid fa-images">
                                            <span>video</span>
                                        <input class="btn-add-file" value="Đính kèm" type="file" name="video" accept="video/*" id="id_video">
                                        </i>
                                    </a>
                                </ul>

                            </div>
                            <button type="submit" class="btn btn-primary btn-upload">Đăng bài</button>
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-0 mx-3">
                <div class="card-body">
                  <div class="action d-flex align-items-center justify-content-between">
                    <a class="livestream">
                      <i class="fa-solid fa-video text-danger"></i>
                      <span>Video trực tiếp</span>
                    </a>
                    <a class="upload">
                      <i class="fa-solid fa-images text-success"></i>
                      <span>Ảnh / video</span>
                    </a>
                    <a class="react">
                      <i class="fa-solid fa-face-smile text-warning"></i>
                      <span>Cảm xúc / hoạt động</span>
                    </a>
                  </div>
                </div>
              </div>
              {% endif %}
              <div class="card post-detail">
                <div class="card-top d-flex align-items-center">
                  {% if object.profile_pic %}
                  <img src="{{ object.profile_pic.url }}" style="width: 50px; height: 50px;"  class="rounded-pill" alt="">
                  {% else %}
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDJaEoQJ0PLbNOn_xHRIw7mcyuIOj0_hVZlA&usqp=CAU" style="width: 90px; height:90px" alt="">
                  {% endif %}
                  <div class="author ms-2">
                    <a href="#" class="name">{{ user.username }}</a>
                    <div class="upload-time">1 giờ</div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="post-body mb-3">
                    <span class="content">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, blanditiis inventore, provident nihil aut sunt nemo beatae unde voluptates qui officiis, veritatis distinctio pariatur ratione. Excepturi sequi iste quae facilis?
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, maxime expedita? Tempore, eos commodi eligendi at ab tenetur. Dolorem quis cupiditate architecto, labore ea maxime doloremque? Provident debitis possimus corrupti.
                    </span>
                  </div>
                  <div class="file-upload">
                    <img class="w-100" src="https://images.unsplash.com/photo-1699119846325-9f8429f36e42?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHx8" alt="">
                  </div>
                </div>
                <div class="count d-flex justify-content-between align-items-center">
                  <div class="react">
                    <i class="fa-solid fa-thumbs-up"></i>
                    <span>1.2k</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="comment">
                      <span>15</span>
                      <i class="fa-solid fa-message"></i>
                    </div>
                    <div class="share ms-3">
                      <span>8</span>
                      <i class="fa-solid fa-share"></i>
                    </div>
                  </div>
                </div>
                <div class="action d-flex justify-content-between align-items-center border-top">
                  <a href="#" class="action-item react">
                    <i class="fa-solid fa-thumbs-up"></i>
                    <span>Like</span>
                  </a>
                  <a href="#" class="action-item comment">
                    <i class="fa-solid fa-message"></i>
                    <span>Comment</span>
                  </a>
                  <a href="#" class="action-item share">
                    <i class="fa-solid fa-share"></i>
                    <span>Share</span>
                  </a>
                </div>
              </div>
              <!-- user's post -->

              {% for post in post_list %}
                {% if post.created_at %}
                  <div class="card post-detail">
                    <div class="card-top d-flex align-items-center">
                      {% if object.profile_pic %}
                        <img src="{{ object.profile_pic.url }}" style="width: 50px; height: 50px;"  class="rounded-pill" alt="">
                      {% else %}
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDJaEoQJ0PLbNOn_xHRIw7mcyuIOj0_hVZlA&usqp=CAU" style="width: 90px; height:90px" alt="">
                      {% endif %}
                      <div class="author ms-2">
                        <a href="#" class="name">{{ post.user }}</a>
                        <div class="upload-time">
                          {% with time_since=post.created_at|timesince %}
                            {% with values=time_since|split_timesince:", " %}
                              {{values}}
                            {% endwith %}
                          {% endwith %}
                        </div>
                      </div>
                      {% if post.user == user %}
                          <div class="author-action ms-auto">
                              <div class="dropdown">
                                  <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                      <i class="fa-solid fa-ellipsis-vertical"></i>
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                      <li>                             
                                          <a href="{% url 'profiles:delete_post' post.id %}" class="dropdown-item logout">
                                              <i class="fa-solid fa-trash"></i>
                                              <span>Xóa bài viết</span>
                                          </a>                                 
                                      </li>
                                      <li>
                                          <!-- Chỉnh sửa bài viết -->
                                          <a  class="dropdown-item logout" data-bs-toggle="modal" data-bs-target="#editModal">    
                                              <i class="fa-solid fa-pen-to-square"></i>                                     
                                              <span>Chỉnh sửa bài viết</span>
                                          </a>                                    
                                      </li>
                                  </ul>
                              </div>
                          </div>                            
                        {% endif %}
                    </div>
                    <div class="card-body">
                      <div class="post-body mb-3">
                        {% if post.title %}<div class="title mb-4">{{ post.title }}</div>{% endif %}
                        {% if post.content %}<span class="content">{{ post.content }}</span>{% endif %}
                      </div> 
                      <div class="file-upload">
                        {% if post.image %}
                            <img style="width: 100%;" src="{{ post.image.url }}" alt="{{ post.title }}">
                        {% endif %}
                      </div>
                      {% if post.video %}
                            <div class="file-upload">
                                <video style="width: 100%;" controls>
                                    <source src="{{ post.video.url }}" type="video/mp4">
                                </video>
                            </div>
                        {% endif %}
                    </div>
                    <div class="count d-flex justify-content-between align-items-center">
                      <div class="react">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <span>1.2k</span>
                      </div>
                      <div class="d-flex align-items-center">
                        <div class="comment">
                          <span>15</span>
                          <i class="fa-solid fa-message"></i>
                        </div>
                        <div class="share ms-3">
                          <span>8</span>
                          <i class="fa-solid fa-share"></i>
                        </div>
                      </div>
                    </div>
                    <div class="action d-flex justify-content-between align-items-center border-top">
                      <a href="#" class="action-item react">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <span>Like</span>
                      </a>
                      <a href="#" class="action-item comment">
                        <i class="fa-solid fa-message"></i>
                        <span>Comment</span>
                      </a>
                      <a href="#" class="action-item share">
                        <i class="fa-solid fa-share"></i>
                        <span>Share</span>
                      </a>
                    </div>
                  </div>
                  <!-- Modal Chỉnh Sửa Bài Viết -->
                  {% for post_edit in post_forms %}
                    {% if post.id == post_edit.post.id %}
                      <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">            
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <div></div>
                                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Chỉnh sửa bài viết {{user.username}}</h1>
                                      <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <form action="{% url 'edit_post' post.id %}" method="post" enctype="multipart/form-data">
                                      {% csrf_token %}
                                      <div class="modal-body custom-scrollbar w-100">
                                          {{ post_edit.form.as_p }}
                                      </div>                                        
                                      <div class="modal-footer justify-content-lg-center">                                          
                                          <button type="submit" value="Save" class="btn btn-primary btn-upload">Lưu</button>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                {% elif post.shared_at %}
                  <div class="card post-detail">
                    <div class="share-title d-flex align-items-center">
                        <span style="font-size: 1.1rem;font-weight: 600;">
                          {% if object.profile_pic %}
                            <img src="{{ object.profile_pic.url }}"   style="width: 50px; height:50px;" class="rounded-pill" alt="">
                          {% else %}
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDJaEoQJ0PLbNOn_xHRIw7mcyuIOj0_hVZlA&usqp=CAU" style="width: 90px; height:90px" alt="">
                          {% endif %}
                        </span> 
                        <span style="font-size: 1.1rem;">
                            <span style="font-size: 1.1rem;font-weight: 600;">{{ post.user.username }}</span>  đã chia sẻ bài viết của <span style="font-size: 1.1rem;font-weight: 600;"> {% if post.user == post.post.user %}chính mình {% else %}{{ post.post.user.username }}{% endif %}</span>
                        </span> 
                    </div>

                    <div class="d-flex  border border-2 rounded m-3">
                      <div class="share-post" style="width: 90%;">
                        <div class="card-top d-flex align-items-center">
                          {% if object.profile_pic %}
                            <img src="{{ object.profile_pic.url }}"   style="width: 50px; height:50px" alt="">
                          {% else %}
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDJaEoQJ0PLbNOn_xHRIw7mcyuIOj0_hVZlA&usqp=CAU" style="width: 90px; height:90px" alt="">
                          {% endif %}
                          <div class="author ms-2">
                            <a href="#" class="name">{{ post.post.user.username }}</a>
                            <div class="upload-time">
                              {% with time_since=post.post.created_at|timesince %}
                                {% with values=time_since|split_timesince:", " %}
                                  {{ values }}
                                {% endwith %}
                              {% endwith %}
                            </div>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="post-body mb-3">
                            {% if post.title %}<div class="title mb-4">{{ post.title }}</div>{% endif %}
                            {% if post.content %}<span id="content">{{ post.content }}</span>{% endif %}
                          </div> 
                          <div class="file-upload ms-5">
                            {% if post.post.image %}
                                <img style="width: 100%;" src="{{ post.post.image.url }}" alt="{{ post.post.title }}">
                            {% endif %}
                            {% if post.post.video %}
                              <div class="file-upload">
                                  <video style="width: 100%;" controls>
                                      <source src="{{ post.post.video.url }}" type="video/mp4">
                                  </video>
                              </div>
                            {% endif %}
                          </div>
                        </div>
                        <div class="count d-flex justify-content-between align-items-center">
                          <form>
                              {% csrf_token %}
                              <div class="react">
                                  {% if user in post.post.likes.all %}
                                      <i class="fa-solid fa-thumbs-up like-button" id="like-icon-{{ post.id }}" style="color: #0866ff;" data-post-id="{{ post.id }}"></i>
                                  {% else %}
                                      <i class="fa-solid fa-thumbs-up like-button" id="like-icon-{{ post.id }}" data-post-id="{{ post.id }}"></i>
                                  {% endif %}
      
                                  <span class="like-count" id="like-count-{{ post.post.id }}">{{ post.post.total_likes }}</span>
                              </div>
                          </form>                           
                          <div class="d-flex align-items-center">
                              <div class="comment">
                                  <span>{{ post.post.total_comment }}</span>
                                  <i class="fa-solid fa-message"></i>
                              </div>
                              <div class="share ms-3">
                                  <span>{{ post.post.share_count }}</span>
                                  <i class="fa-solid fa-share"></i>
                              </div>
                          </div>
                        </div>
                        <div class="action d-flex justify-content-between align-items-center border-top border-bottom">
                      <!-- like -->
                      <a href="#" class="action-item react like-button" {% if user in post.likes.all %} style="color: #0866ff;"{% endif %} data-post-id="{{ post.id }}">
                          <i class="fa-solid fa-thumbs-up"></i>
                          <span>Thích</span>
                      </a>                    
                      
                      <!-- comment button-->
                      <a href="#commentpost{{post.id}}"  class="action-item comment" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                          <i class="fa-solid fa-message"></i>
                          <span>Bình luận</span>
                      </a>
                      
                      <!-- share -->
                      <a class="action-item share">
                          <form action="{% url 'share_post' post.id %}" method="post">
                              {% csrf_token %}
                              <button class="action-item share">                                
                                  <span><i class="fa-solid fa-share"></i> Share</span>
                              </button>
                          </form> 
                      </a>
                  </div>
                  <!-- comment form -->
                  <div class="collapse comment-form" id="commentpost{{post.id}}">
                      <div class="form-group">
                          <form method="post" action="{% url 'add_comment' post.id %}" class="post-comment" data-post-id="{{ post.id }}"> 
                              {% csrf_token %}
                              <div class="d-flex justify-content-between px-2">
                                  <img src="https://images.unsplash.com/photo-1698668768739-7dfa1a00a8f0?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="avatar">
                                  <input name="content" class="content rounded-pill"  placeholder="Nhập bình luận" required id="id_body">
                                  <button class="btn btn-send d-flex align-items-center justify-content-center"><i class="fa-solid fa-paper-plane fa-beat"></i></button>
                              </div>
                          </form>        
                        </div>
                    </div>
                      </div>
                    </div>
                    <div class="count d-flex justify-content-between align-items-center">
                      <div class="react">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <span>1.2k</span>
                      </div>
                      <div class="d-flex align-items-center">
                        <div class="comment">
                          <span>15</span>
                          <i class="fa-solid fa-message"></i>
                        </div>
                        <div class="share ms-3">
                          <span>8</span>
                          <i class="fa-solid fa-share"></i>
                        </div>
                      </div>
                    </div>
                    <div class="action d-flex justify-content-between align-items-center border-top">
                      <a href="#" class="action-item react">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <span>Like</span>
                      </a>
                      <a href="#" class="action-item comment">
                        <i class="fa-solid fa-message"></i>
                        <span>Comment</span>
                      </a>
                      <a href="#" class="action-item share">
                        <i class="fa-solid fa-share"></i>
                        <span>Share</span>
                      </a>
                    </div>
                  </div>
                {% endif %}                      
                
                  
              {% endfor %}
             
            </div>
          </div>
        </div>

        <div class="accordion-collapse collapse profile-page" id="introducePage" data-bs-parent="#profilePage">
          <div class="introduce">
            <div class="introduce-card d-flex justify-content-between">
              <div class="left-card">
                <div class="title">Giới thiệu</div>
                <ul>
                  <li><a href="">Tổng quan</a></li>
                  <li><a href="">Công việc và học vấn</a></li>
                  <li><a href="">Nơi từng sống</a></li>
                  <li><a href="">Thông tin liên hệ</a></li>
                </ul>
              </div>
              <div class="right-card align-self-center"></div>
            </div>
           
          </div>
        </div>

        <!-- Bạn bè -->

        <div class="accordion-collapse collapse profile-page" id="friendPage" data-bs-parent="#profilePage">
          <div class="friend">
            <div class="friend-card">
              <div class="title d-flex justify-content-between align-items-center">
                <span>Bạn bè</span>
                <span class="fs-6">{{ num_friends }} người bạn</span>
              </div>
              <ul class="accordion friend-tab d-flex align-items-center" id="friend-page-tab">
                <li class="accordion-item friend-page-tab-item">
                  <button class="active" type="button" data-bs-toggle="collapse" data-bs-target="#listFriendPage" aria-expanded="true" aria-controls="listFriendPage">
                    Bạn bè
                  </button>
                </li>
                <li class="accordion-item friend-page-tab-item">
                  <button class="active" type="button" data-bs-toggle="collapse" data-bs-target="#listFollower" aria-expanded="true" aria-controls="listFriendPage">
                    Người theo dõi
                  </button>
                </li>
                {% if request.user.id == object.user.id %}
                <li class="accordion-item friend-page-tab-item">
                  <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#listFollowing" aria-expanded="false" aria-controls="inviteFriendPage">
                    Đang theo dõi
                  </button>
                </li>
                {% endif %}
              </ul>
              <!-- friend list -->
              <div class="accordion-collapse collapse show friend-page-tab-detail" id="listFriendPage" data-bs-parent="#friend-page-tab">
                <div class="d-flex justify-content-between align-items-center flex-wrap gap-4">
                  {% for friend in friends %}
                    <a href="{% url 'profiles:profile' pk=friend.id %}" class="friend-list-item d-flex align-items-center">
                        {% for profile in profiles %}   
                            {% if friend.id == profile.user.id %}             
                              <img src="{% if profile.profile_pic %}
                                  {{ profile.profile_pic.url  }}
                              {% else %} 
                                  https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?stp=cp0_dst-png_p60x60&_nc_cat=1&ccb=1-7&_nc_sid=2b6aad&_nc_eui2=AeE1vTPkHb-3caw-Qa8LcUBUso2H55p0AlGyjYfnmnQCUZJq8s60z2bWHjSCVInwd04OWKdpTROsfDIQw33wpZKQ&_nc_ohc=x-5IH6VdBkQAX973AOb&_nc_ht=scontent.fsgn2-3.fna&oh=00_AfDK83mRdv0PL08D0btIF9cOTS3s8hnIALTSupH9AKV5XQ&oe=657722F8
                              {% endif %} "
                              class="card-img" alt="avatar">
                            {% endif %}
                        {% endfor %}
                      <div class="name">{{ friend.username }}</div>                  
                    </a>
                  {% endfor %}                   
                </div>
              </div>
              
              <!-- following_list -->
              <div class="accordion-collapse collapse friend-page-tab-detail" id="listFollowing" data-bs-parent="#friend-page-tab">
                <div class="d-flex justify-content-between align-items-center flex-wrap gap-4">
                  {% for follower in following %}
                    <a href="{% url 'profiles:profile' pk=follower.follower.id %}" class="friend-list-item d-flex align-items-center">
                        {% for profile in profiles %}   
                            {% if follower.follower.id == profile.user.id %}             
                              <img src="{% if profile.profile_pic %}
                                  {{ profile.profile_pic.url  }}
                              {% else %} 
                                  https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?stp=cp0_dst-png_p60x60&_nc_cat=1&ccb=1-7&_nc_sid=2b6aad&_nc_eui2=AeE1vTPkHb-3caw-Qa8LcUBUso2H55p0AlGyjYfnmnQCUZJq8s60z2bWHjSCVInwd04OWKdpTROsfDIQw33wpZKQ&_nc_ohc=x-5IH6VdBkQAX973AOb&_nc_ht=scontent.fsgn2-3.fna&oh=00_AfDK83mRdv0PL08D0btIF9cOTS3s8hnIALTSupH9AKV5XQ&oe=657722F8
                              {% endif %} "
                              class="card-img" alt="avatar">
                            {% endif %}
                        {% endfor %}
                      <div class="name">{{ follower.follower.username }}</div>                  
                    </a>
                  {% endfor %}
                </div>
              </div>

              <!-- follower list -->
              <div class="accordion-collapse collapse friend-page-tab-detail" id="listFollower" data-bs-parent="#friend-page-tab">
                <div class="d-flex justify-content-between align-items-center flex-wrap gap-4">
                  {% for follower in follows %}
                    <a href="{% url 'profiles:profile' pk=follower.followee.id %}" class="friend-list-item d-flex align-items-center">
                        {% for profile in profiles %}   
                            {% if follower.followee.id == profile.user.id %}             
                              <img src="{% if profile.profile_pic %}
                                  {{ profile.profile_pic.url  }}
                              {% else %} 
                                  https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?stp=cp0_dst-png_p60x60&_nc_cat=1&ccb=1-7&_nc_sid=2b6aad&_nc_eui2=AeE1vTPkHb-3caw-Qa8LcUBUso2H55p0AlGyjYfnmnQCUZJq8s60z2bWHjSCVInwd04OWKdpTROsfDIQw33wpZKQ&_nc_ohc=x-5IH6VdBkQAX973AOb&_nc_ht=scontent.fsgn2-3.fna&oh=00_AfDK83mRdv0PL08D0btIF9cOTS3s8hnIALTSupH9AKV5XQ&oe=657722F8
                              {% endif %} "
                              class="card-img" alt="avatar">
                            {% endif %}
                        {% endfor %}
                      <div class="name">{{ follower.followee.username }}</div>                  
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  {% endif %}

</div>
{% endblock %}