{% extends 'base_generic.html' %}

{% block user %}
<div class="login-area">
  <div class="wrapper text-center">
    <div class="title text-uppercase text-center">Quên mật khẩu</div>
    <hr>
    <form class="form-login d-flex flex-column justify-content-center align-items-center" method="post">
      {% csrf_token %}
      <input type="text" name="email" autofocus="" autocapitalize="none" autocomplete="email" maxlength="150" required="" id="id_email" placeholder="Email">
      <button type="submit" class="btn-login">Gửi mã OTP</button>
    </form>
    <hr>
    <a href="{% url 'login' %}" class="btn-register">Đăng nhập</a>
  </div>
</div>

{% endblock %}